<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listico</title>
    <script defer src="script.js"></script>
</head>

<body>
    <h1>Listico</h1>

    <h2>Listicle Generator</h2>

    <form id="listicleGenerator">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="1">1</label><br>
        <input type="text" id="1" name="1"><br>
        <label for="2">2</label><br>
        <input type="text" id="2" name="2"><br>
        <label for="3">3</label><br>
        <input type="text" id="3" name="3"><br>
        <label for="4">4</label><br>
        <input type="text" id="4" name="4"><br>
        <label for="5">5</label><br>
        <input type="text" id="5" name="5"><br>
        <label for="6">6</label><br>
        <input type="text" id="6" name="6"><br>
        <label for="7">7</label><br>
        <input type="text" id="7" name="7"><br>
        <label for="8">8</label><br>
        <input type="text" id="8" name="8"><br>
        <label for="9">9</label><br>
        <input type="text" id="9" name="9"><br>
        <label for="10">10</label><br>
        <input type="text" id="10" name="10"><br>
        <button>Create</button>
    </form>

    <h2 class="saved-lists-title">Saved Lists</h2>
    <div class="saved-lists"></div>


</body>


</html>